/* CSS reset */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    font-family: t26-carbon, monospace;
    font-size: 1.25em;
    justify-content: space-between;
    padding: 2em;
}

/* Removes bullet points */
ul {
    list-style-type: none;
  }

/* Setting flex-grow of 1 means middle container expands to fill empty space */
.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

/* Setting breakpoint   */
.img {
    max-width: 280px;
}

.footer {
    display: flex;
    font-family: t26-carbon, monospace;
    font-size: 1.25em;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

/* Removes hyperlinks and sets colour instead */
a {
    text-decoration: none;
    color: white;
}

@media screen {
    
}